{{ define "main" }}
<article>
	<section>
		{{- .Content -}}
	</section>
	<section>
		{{ range (.Paginator 25).Pages.GroupByDate "2006" }}
		<hr class="p-0 pt-4 m-0" />
		<section class="flex flex-col md:flex-row items-start items-baseline">
			<div class="md:pl-4 pb-2 md:sticky top-0 order-1 pr-6">
				<h2 class=" text-eucalyptus-600">{{ .Key }}</h2>
			</div>
			<ul class="order-2 flex-grow">
				{{ range .Pages }}
				<div class="py-2 flex">
					<span class="font-serif pr-4 flex-shrink-0">{{.Date.Format "01-02"}}</span>
					<div class="font-serif font-medium">
						<a href="{{ .Permalink }}">
							{{ .Title }}
						</a>
						{{ with .Description }}
						<div class="pl-4  text-gray-600 font-light">{{.}}</div>
						{{ end }}
					</div>
				</div>
				{{ end }}
			</ul>
		</section>
		{{ end }}
		<!-- {{ range .Paginator.Pages }}
		<div>
			<div>
				<a href="{{ .Permalink }}">
					{{ .Title }}
				</a>
			</div>
			{{ with .Description }}
			<div>{{.}}</div>
			{{ end }}
		</div>
		{{ end }} -->
	</section>
</article>
{{ end }}
{{define "footer"}}
{{ partial "list-footer.html" . }}
{{end}}