<hr class="double-line" />
<div class="flex flex-wrap justify-between pb-2 leading-loose font-serif">
    {{with .Site.RegularPages.Prev . }}
    <a class="flex-grow-0" href="{{.RelPermalink}}">
        <svg class="fill-current inline-block h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
            height="24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M7.828 11H20v2H7.828l5.364 5.364-1.414 1.414L4 12l7.778-7.778 1.414 1.414z" /></svg>
        {{.Title}}
    </a>
    {{end}}
    {{with .Site.RegularPages.Next . }}
    <a class="flex-grow-0" href="{{.RelPermalink}}">
        {{.Title}}
        <svg class="fill-current inline-block h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
            height="24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" /></svg></a>
    {{end}}
</div>
<div >
{{ $related := .Site.RegularPages.Related . | first 15 }}
{{ $count := len $related }}
{{ with $related }}
<div class="font-serif pb-2 flex align-start leading-loose">
	<span class="heading pr-6 leading-loose">Related</span>
	<span >
		{{ range $k, $v := . }}
			<a href="{{ $v.RelPermalink }}">
				{{- $v.Title -}}
			</a>{{ if lt $k (sub $count 1) }}&nbsp;&nbsp;&#47;&nbsp;{{end}}
		{{ end }}
</span>
</div>
{{ end }}
</div>
<hr />
<div class="pb-2">
    {{ template "_internal/disqus.html" . }}
</div>
<hr />